@media (min-width: 0px) {
  .worshop-title {
    color: #000;
    font-weight: 600;
  }

  .container {
    max-width: 900px;
  }

  .workshop-person-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .workshop-person-name {
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }

  .workshop-person-data {
    font-family: 'Roboto';
  }

  .workshop-data {
    font-size: 18px;
    font-family: 'Roboto'
  }
};

@media (min-width: 576px) {
  .worshop-title {
    color: #000;
    font-weight: 600;
  }

  .container {
    max-width: 900px;
  }

  .workshop-person-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .workshop-person-name {
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }

  .workshop-person-data {
    font-family: 'Roboto';
  }

  .workshop-data {
    font-size: 18px;
    font-family: 'Roboto'
  }
};

@media (min-width: 768px) {
  .worshop-title {
    color: #000;
    font-weight: 600;
  }

  .container {
    max-width: 900px;
  }

  .workshop-person-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .workshop-person-name {
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }

  .workshop-person-data {
    font-family: 'Roboto';
  }

  .workshop-data {
    font-size: 18px;
    font-family: 'Roboto'
  }
};

@media (min-width: 992px) {
  .worshop-title {
    color: #000;
    font-weight: 600;
  }

  .workshop-person-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .workshop-person-name {
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }

  .workshop-person-data {
    font-family: 'Roboto';
  }

  .workshop-data {
    font-size: 18px;
    font-family: 'Roboto'
  }
};

@media (min-width: 1200px) {
  .worshop-title {
    color: #000;
    font-weight: 600;
  }

  .workshop-person-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .workshop-person-name {
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }

  .workshop-person-data {
    font-family: 'Roboto';
  }

  .workshop-data {
    font-size: 18px;
    font-family: 'Roboto'
  }
};

@media (min-width: 1400px) {
  .worshop-title {
    color: #000;
    font-weight: 600;
  }

  .container {
    max-width: 1500px;
  }

  .workshop-person-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .workshop-person-name {
    color: #000;
    font-size: 18px;
    font-weight: 600;
  }

  .workshop-person-data {
    font-family: 'Roboto';
  }

  .workshop-data {
    font-size: 18px;
    font-family: 'Roboto'
  }
};