@media (min-width: 0px) {
  .conference-img {
    width: fit-content;
    height: 320px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
  }

  .conference-card-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 22px;
  }

  .conference-resource-person {
    font-family: 'Roboto';
    font-size: 19px;
  }

  .conference-custom-time {
    font-family: 'Roboto';
    font-size: 15px;
    color: #000;
  }

  .custom-card {
    border-radius: 50px;
  }
};

@media (min-width: 576px) {
  .conference-img {
    width: fit-content;
    height: 320px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
  }

  .conference-card-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 22px;
  }

  .conference-resource-person {
    font-family: 'Roboto';
    font-size: 19px;
  }

  .conference-custom-time {
    font-family: 'Roboto';
    font-size: 15px;
    color: #000;
  }

  .custom-card {
    border-radius: 50px;
  }
};

@media (min-width: 768px) {
  .conference-img {
    width: fit-content;
    height: 320px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
  }

  .container {
    max-width: 900px;
  }

  .conference-card-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 22px;
  }

  .conference-resource-person {
    font-family: 'Roboto';
    font-size: 19px;
  }

  .conference-custom-time {
    font-family: 'Roboto';
    font-size: 15px;
    color: #000;
  }

  .custom-card {
    border-radius: 50px;
  }
};

@media (min-width: 992px) {
  .conference-img {
    width: fit-content;
    height: 320px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
  }

  .container {
    max-width: 990px;
  }

  .conference-card-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 25px;
  }

  .conference-resource-person {
    font-family: 'Roboto';
    font-size: 19px;
  }

  .conference-custom-time {
    font-family: 'Roboto';
    font-size: 17px;
    color: #000;
  }

  .custom-card {
    border-radius: 50px;
  }
};

@media (min-width: 1200px) {
  .conference-img {
    width: fit-content;
    height: 320px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
  }

  .container {
    max-width: 1500px;
  }

  .conference-card-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 25px;
  }

  .conference-resource-person {
    font-family: 'Roboto';
    font-size: 19px;
  }

  .conference-custom-time {
    font-family: 'Roboto';
    font-size: 17px;
    color: #000;
  }

  .custom-card {
    border-radius: 50px;
  }
};

@media (min-width: 1400px) {
  .conference-img {
    width: fit-content;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
  }

  .conference-card-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 25px;
  }

  .conference-resource-person {
    font-family: 'Roboto';
    font-size: 19px;
  }

  .conference-custom-time {
    font-family: 'Roboto';
    font-size: 17px;
    color: #000;
  }

  .custom-card {
    border-radius: 50px;
  }
};

@media (min-width: 1800px) {
  .conference-img {
    width: fit-content;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    object-position: center;
  }

  .container {
    max-width: 1700px;
  }

  .conference-card-title {
    color: #000;
    font-family: 'Roboto';
    font-size: 25px;
  }

  .conference-resource-person {
    font-family: 'Roboto';
    font-size: 19px;
  }

  .conference-custom-time {
    font-family: 'Roboto';
    font-size: 17px;
    color: #000;
  }

  .custom-card {
    border-radius: 50px;
  }
};