@media (min-width: 0px) {
  .keynote-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Do not scale the image */
    object-position: center;
  }

  .keynote-name {
    color: #000;
    font-weight: 600;
    padding-top: 15px;
  }

  .keynote-email {
    color: #000;
    font-size: 20px;
  }

  .keynote-phonenumber {
    color: #000;
    font-size: 20px;
  }

  .keynote-description {
    padding-left: 13%;
    padding-right: 13%;
    color: #000;
    padding-top: 10px;
    font-size: 18px;
  }

  .keynote-speaker {
    font-weight: 500;
    color: #000;
  }

  .keynote-page-section {
    background: url(https://firebasestorage.googleapis.com/v0/b/conference-management-storage.appspot.com/o/background.png?alt=media&token=0ee3df67-512a-46e3-be44-dd07ceeed757);
    background-position: center;
    height: 20vh;
  }

  .keynote-header {
    color: #fff;
    font-size: 80px;
    padding-top: 2%;
  }

  .nav-text {
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  .keynote-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Do not scale the image */
    object-position: center;
  }

  .keynote-name {
    color: #000;
    font-weight: 600;
    padding-top: 15px;
  }

  .keynote-email {
    color: #000;
    font-size: 20px;
  }

  .keynote-phonenumber {
    color: #000;
    font-size: 20px;
  }

  .keynote-description {
    padding-left: 13%;
    padding-right: 13%;
    color: #000;
    padding-top: 10px;
    font-size: 18px;
  }

  .keynote-speaker {
    font-weight: 500;
    color: #000;
  }

  .keynote-page-section {
    background: url(https://firebasestorage.googleapis.com/v0/b/conference-management-storage.appspot.com/o/background.png?alt=media&token=0ee3df67-512a-46e3-be44-dd07ceeed757);
    background-position: center;
    height: 20vh;
  }

  .keynote-header {
    color: #fff;
    font-size: 80px;
    padding-top: 2%;
  }

  .nav-text {
    font-size: 20px;
  }
};

@media (min-width: 768px) {
  .keynote-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Do not scale the image */
    object-position: center;
  }

  .keynote-name {
    color: #000;
    font-weight: 600;
    padding-top: 15px;
  }

  .keynote-email {
    color: #000;
    font-size: 20px;
  }

  .keynote-phonenumber {
    color: #000;
    font-size: 20px;
  }

  .keynote-description {
    padding-left: 13%;
    padding-right: 13%;
    color: #000;
    padding-top: 10px;
    font-size: 18px;
  }

  .keynote-speaker {
    font-weight: 500;
    color: #000;
  }

  .keynote-page-section {
    background: url(https://firebasestorage.googleapis.com/v0/b/conference-management-storage.appspot.com/o/background.png?alt=media&token=0ee3df67-512a-46e3-be44-dd07ceeed757);
    background-position: center;
    height: 20vh;
  }

  .keynote-header {
    color: #fff;
    font-size: 80px;
    padding-top: 2%;
  }

  .nav-text {
    font-size: 20px;
  }
};

@media (min-width: 992px) {
  .keynote-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Do not scale the image */
    object-position: center;
  }

  .keynote-name {
    color: #000;
    font-weight: 600;
    padding-top: 15px;
  }

  .keynote-email {
    color: #000;
    font-size: 20px;
  }

  .keynote-phonenumber {
    color: #000;
    font-size: 20px;
  }

  .keynote-description {
    padding-left: 13%;
    padding-right: 13%;
    color: #000;
    padding-top: 10px;
    font-size: 18px;
  }

  .keynote-speaker {
    font-weight: 500;
    color: #000;
  }

  .keynote-page-section {
    background: url(https://firebasestorage.googleapis.com/v0/b/conference-management-storage.appspot.com/o/background.png?alt=media&token=0ee3df67-512a-46e3-be44-dd07ceeed757);
    background-position: center;
    height: 20vh;
  }

  .keynote-header {
    color: #fff;
    font-size: 80px;
    padding-top: 2%;
  }

  .nav-text {
    font-size: 20px;
  }
};

@media (min-width: 1200px) {
  .keynote-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Do not scale the image */
    object-position: center;
  }

  .keynote-name {
    color: #000;
    font-weight: 600;
    padding-top: 15px;
  }

  .keynote-email {
    color: #000;
    font-size: 20px;
  }

  .keynote-phonenumber {
    color: #000;
    font-size: 20px;
  }

  .keynote-description {
    padding-left: 13%;
    padding-right: 13%;
    color: #000;
    padding-top: 10px;
    font-size: 18px;
  }

  .keynote-speaker {
    font-weight: 500;
    color: #000;
  }

  .keynote-page-section {
    background: url(https://firebasestorage.googleapis.com/v0/b/conference-management-storage.appspot.com/o/background.png?alt=media&token=0ee3df67-512a-46e3-be44-dd07ceeed757);
    background-position: center;
    height: 20vh;
  }

  .keynote-header {
    color: #fff;
    font-size: 80px;
    padding-top: 2%;
  }

  .nav-text {
    font-size: 20px;
  }
};

@media (min-width: 1400px) {
  .keynote-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; /* Do not scale the image */
    object-position: center;
  }

  .keynote-name {
    color: #000;
    font-weight: 600;
    padding-top: 15px;
  }

  .keynote-email {
    color: #000;
    font-size: 20px;
  }

  .keynote-phonenumber {
    color: #000;
    font-size: 20px;
  }

  .keynote-description {
    padding-left: 13%;
    padding-right: 13%;
    color: #000;
    padding-top: 10px;
    font-size: 18px;
  }

  .keynote-speaker {
    font-weight: 500;
    color: #000;
  }

  .keynote-page-section {
    background: url(https://firebasestorage.googleapis.com/v0/b/conference-management-storage.appspot.com/o/background.png?alt=media&token=0ee3df67-512a-46e3-be44-dd07ceeed757);
    background-position: center;
    height: 20vh;
  }

  .keynote-header {
    color: #fff;
    font-size: 80px;
    padding-top: 2%;
  }

  .nav-text {
    font-size: 20px;
  }
};