@media (min-width: 576px) {
  .upcomming-title {
    font-weight: 600;
    color: #000;
  }
};

@media (min-width: 768px) {
  .upcomming-title {
    font-weight: 600;
    color: #000;
  }
};

@media (min-width: 992px) {

  .upcomming-title {
    font-weight: 600;
    color: #000;
  }
};

@media (min-width: 1200px) {
  .upcomming-title {
    font-weight: 600;
    color: #000;
  }
};

@media (min-width: 1400px) {
  .upcomming-title {
    font-weight: 600;
    color: #000;
  }
};