.form-field {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
}

.reviewer-header {
  font-weight: 600;
  font-size: 27px;
  color: #000;
  margin-bottom: 20px;
}